[pull]
	rebase = False

[color]
	ui = true

[color "branch"]
    branch     = auto
    diff       = auto
    status     = auto
    showbranch = auto 	
    current = yellow reverse
    local = yello
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[user]
	email = theo.akpinar@gmail.com
	name = takpinar
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = master
